@model SIMS.DatabaseContext.Entities.ClassAssignment

@{
    ViewData["Title"] = "Enrollment Details";
    ViewData["breadcrumb"] = "Enrollments";
    ViewData["breadcrumb_item"] = "Details";
}

<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-info-circle me-1"></i>
                Enrollment Details
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Student)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Student.User.UserName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Teacher)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Teacher.User.UserName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Class)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Class.Name)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Course)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Course.Name)
                    </dd>
                </dl>
                <div class="mt-4">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
